.mtk1 {
  color: #c9d1d9 !important
}

.mtk2 {
  color: #0d1117 !important
}

.mtk3 {
  color: #8b949e !important
}

.mtk4 {
  color: #79c0ff !important
}

.mtk5 {
  color: #ffa657 !important
}

.mtk6 {
  color: #d2a8ff !important
}

.mtk7 {
  color: #7ee787 !important
}

.mtk8 {
  color: #ff7b72 !important
}

.mtk9 {
  color: #a5d6ff !important
}

.mtk10 {
  color: #ffa198 !important
}

.mtk11 {
  color: #f0f6fc !important
}

.mtk12 {
  color: #490202 !important
}

.mtk13 {
  color: #04260f !important
}

.mtk14 {
  color: #5a1e02 !important
}

.mtk15 {
  color: #161b22 !important
}

.mtk16 {
  color: #6796e6 !important
}

.mtk17 {
  color: #cd9731 !important
}

.mtk18 {
  color: #f44747 !important
}

.mtk19 {
  color: #b267e6 !important
}

.mtki {
  font-style: italic !important
}

.mtkb {
  font-weight: 700 !important
}

.mtku {
  text-decoration: underline !important;
  text-underline-position: under !important
}

.mtks {
  text-decoration: line-through !important
}

.mtks.mtku {
  text-decoration: underline line-through !important;
  text-underline-position: under !important
}
